* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: rgb(63, 63, 63);
}

button {
  font-family: "Raleway", sans-serif;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(212, 212, 212);
  overflow: hidden;
}

.color {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  align-items: center;
  background-color: white;
  opacity: 0;
  padding: 2rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  pointer-events: none;
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 1rem 2rem;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.2rem;
  accent-color: white;
}

.controls {
  display: flex;
  flex-direction: column;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.sliders button,
.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border: none;
  color: white;
  background-color: rgb(71, 71, 71);
  font-weight: bold;
  cursor: pointer;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: rgb(40, 40, 53);
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.panel p {
  font-size: 1.5rem;
}

.save-panel,
.library-panel,
.generate-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.adjust,
.lock {
  border: none;
  padding: 2rem;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  margin: 2rem 0rem;
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.copy-popup,
.save-popup,
.library-popup {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.5s ease;
  transform: translateY(-2rem);
  min-width: 20%;
  min-height: 20vh;
}

.copy-popup h4,
.save-popup h4,
.library-popup h4 {
  font-size: 2.5rem;
}

.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
  transform: translateY(0rem);
  padding: 2rem;
}

.save-name {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-bottom: solid 1px;
  width: 50%;
  margin: 2rem;
}

.save-name:focus {
  border: none;
}

.submit-save {
  padding: 1rem 3rem;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 10%;
  background-color: rgb(40, 40, 53);
  color: white;
}

.close-save,
.close-library {
  border-top-right-radius: 2rem;
  border-top-left-radius: 0rem;
  padding: 0.5rem;
}

.library-popup {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 50vh;
}

.custom-palette {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  width: 100%;
}

.custom-palette h4 {
  flex: 1;
}

.small-preview {
  display: flex;
  flex: 1;
}

.small-preview div {
  height: 5rem;
  flex: 1;
}

.pick-palette-btn {
  margin-left: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(50, 52, 70);
  color: white;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.close-library {
  border-top-right-radius: 0;
}

.addNewColor {
  width: 4rem;
  height: 4rem;
  position: absolute;
  background-color: white;
  color: rgb(40, 40, 53);
  font-size: 3rem;
  right: 0;
  top: 50%;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}
